@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

:root {
    --main-color: #3867d6;
}

* {
    font-family: "montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #444;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

body {

    background: #222;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 9%;
}

.header .logo {
    font-weight: bolder;
    color: #fff;
    font-size: 2.5rem;
}

.header .logo span {
    color: var(--main-color);
}

.header .navbar a {
    font-size: 1.7rem;
    color: #fff;
    margin-left: 2rem;

}

.header .navbar a:hover {
    color: var(--main-color);
}

#menu-bars {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;

}

.footer {
    background: #111;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.reviews {
    padding: 40px 0;
    background: #222;
    color: #ffff;
    text-align: center;
}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    margin: 26px auto;
}

.title {
    color: #2053c9;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    margin-top: 40px;

}

div.cover {
    width: 100%;
    height: 450px;
    background-image: url(../images/review.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 59px;
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.review {
    background: #333;
    padding: 30px;
}

.row .col .review:hover {
    transform: scale(1.03);
}

.review img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars {
    color: #2887e0;
    margin-bottom: 20px;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    margin-left: 59px;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #fff;
}

.footer .box-container .box p {
    font-size: 1rem;
    color: #fff;
    text-align: left;
    padding-left: -20px;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #eee;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--main-color);
}

.footer .box-container .box a:hover i {
    padding-right: 1.5rem;
    color: #fff;
}

.footer .credit {
    text-align: center;
    border-top: .1rem solid #222;
    color: #fff;
    padding: 2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .credit span {
    color: var(--main-color);
}

@media (max-width:768px) {
    #menu-bars {
        display: initial;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
}

@media screen and (max-width:960px) {
    .col {
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width:600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }

    @media (max-width:768px) {
        .footer-top {
            width: 40%
        }

        .footer .box-container .box h3 {
            font-size: 20px;

        }

        .footer .box-container .box p {
            font-size: 7px;
        }
    }

    .footer .box-container .box a {
        font-size: 10px;
    }

    .footer .credit {
        font-size: 10px
    }

}